[General]
name = 永久智能分流（美国节点版）
log = true
bypass-system = true
skip-proxy = true
rule-auto-update = true
proxy-health-check = true
health-check-interval = 300
tolerance = 50

[Proxy]
# 使用你的订阅 URL 并且只匹配节点名含 US‑NY 或 US‑LA
MySubGroup = url-test, "https://feed.iggv5.com/c/15ab4dcc-4ac8-4ea1-a878-c94bb24454f5", interval=300, tolerance=50, match=US-(NY|LA)

[Rule]
# 国内直连
GEOIP,CN,DIRECT
GEOIP,HK,DIRECT
GEOIP,TW,DIRECT

# 国外分类分流
DOMAIN-SET,https://raw.githubusercontent.com/Dds-sovo/shadowrocket-rules/27a4a14d3cf4ece75211bbec969ef96fedb3965f/social.list.txt,MySubGroup
DOMAIN-SET,https://raw.githubusercontent.com/Dds-sovo/shadowrocket-rules/27a4a14d3cf4ece75211bbec969ef96fedb3965f/video.list.txt,MySubGroup
DOMAIN-SET,https://raw.githubusercontent.com/Dds-sovo/shadowrocket-rules/27a4a14d3cf4ece75211bbec969ef96fedb3965f/music.list.txt,MySubGroup
DOMAIN-SET,https://raw.githubusercontent.com/Dds-sovo/shadowrocket-rules/27a4a14d3cf4ece75211bbec969ef96fedb3965f/Office.list.txt,MySubGroup
DOMAIN-SET,https://raw.githubusercontent.com/Dds-sovo/shadowrocket-rules/27a4a14d3cf4ece75211bbec969ef96fedb3965f/Dev-edu.list.txt,MySubGroup

# 默认规则：其他未匹配流量走订阅节点
FINAL,MySubGroup
